body{
    margin: 0px;
}

.gallery {
    width: 100%;
}

.gallery-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 40vw;
    overflow: hidden;
}

.gallery-item {
    width: 18vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: transform 1s;
    z-index: 0;
}

.inner-gallery{
    width: 18vw;
    height: 50vh;
    background-color: rgb(255, 64, 0);
    transition: transform 1s;
}


.gallery-item-1 {
    transform: translateX(-22vw);
}

.gallery-item-2 {
    transform: translateX(0vw);
}
  
.gallery-item-3 {
    transform: translateX(19.6vw);
}

.gallery-item-4 {
    transform-origin: center;
    transform: translateX(40.8vw);
}

.gallery-item-4 > .inner-gallery{
    transform: scale(1.2);
}

.gallery-item-5 {
    transform: translateX(62.2vw);
}

.gallery-item-6 {
    transform: translateX(82vw);
}

.gallery-item-7 {
    transform: translateX(100.6vw);
}

.gallery-control-prev, .gallery-control-next{
    position: absolute;
    z-index: 0;
    top: 30vh;
    cursor: pointer;
    font-size: 15vh;
    margin:0 ;
    font-weight: 300;
}

.gallery-control-prev{
    left: 0vw;
}

.gallery-control-next{
    right: 0vw;
}