#stay-on-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    transition: top .3s ease-in-out;
}

#stay-on-top > #header{
    font-family: cinzel;
    font-size: 2em;
}

#stay-on-top > #body{
    font-family: inter;
    color: rgb(153, 153, 153);
    width: 50vw;
}

@media screen and (max-width: 800px) {
    #stay-on-top > #header{
        font-size: 1.5em;
    }

    #stay-on-top{
        padding: 0.1em 0 0.1em 0;
    }
}