#drop-down-menu{
    width: 100%;
    height: 499px;
    background-color: #ffffff;
    transform: translateY(115px);
    position: absolute;
    animation: append-animate 0.3s linear;
    display: none;  
    
    /* opacity: 1;
    transition: opacity .5s; */
}

/* #drop-down-menu:hover {
    opacity: 0;
} */

/* #drop-down-menu.fade {
    opacity: 0;
  } */

@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
}