#drop-down-menu{
    width: 100%;
    height: 459px;
    background-color: #ffffff;
    position: absolute;
    transition: opacity 1s;
    z-index: 0;
    display: none;
    justify-content: center;
    animation: append-animate 0.5s linear;
}

#drop-down-menu > #drop-down-container{
    width: 100%;
    height: 459px;
    max-width: 1250px;
    display: flex;
    align-items: flex-end;
    justify-content: left;

}

.none{
    opacity: 0;
}

.show-dropdown{
    opacity: 1;
}

@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
}

