.nav-bar{
    position: absolute;
    width: 100%;
    /* margin: 15px 0 0 0; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    background-color: transparent;
    transition: top .3s ease-in-out, background-color .2s linear;
    /* animation: append-animate 0.2s linear; */
    /* this is superior to drop-down-menu */
    z-index: 2; 
}

/* @keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
} */

.nav-bar > .menu-hiders{
    height: 130px;
    width: 100%;
}

.nav-bar > .global-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
}

.nav-bar > .global-container > .first-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 90vw;
    max-width: 1250px;
    height: 80px;
}

.nav-bar > .global-container > .first-container > .menu-icon{
    display: none;
    color: #FFFFFF;
    cursor: pointer;
}

.nav-bar > .global-container > .first-container > .logo{
    font-size: 28px;

}

.nav-bar > .global-container > .first-container > .nav-bar-icons{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.nav-bar > .global-container > .first-container > .nav-bar-icons > .nav-bar-icon{
    font-size: 27px;
    font-weight: 200;
}

.nav-bar > .global-container > .first-container > .nav-bar-icons > #account-logo{
    padding-left: 15px;
}

.nav-bar > .global-container > .nav-menu{
    width: 90vw;
    max-width: 1250px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.nav-bar > .global-container > .nav-menu > #close-button-menu{
    width: 100% ;
    height: auto;
    display: none;
    justify-content: right;
    padding: 5px;
}

.nav-bar > .global-container > .nav-menu > #close-button-menu > .material-icons{
    cursor: pointer;
    
}

.nav-bar > .global-container > .nav-menu > .nav-item{
    list-style: none;
    margin: 0;
}

.nav-bar > .global-container > .nav-menu > .nav-item > .nav-links{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0 0 7px 0;
    background:
    linear-gradient(90deg, rgb(202, 202, 202), rgb(219, 219, 219)) left bottom/0% 1px no-repeat;
}

.nav-bar > .global-container > .nav-menu > .nav-item > .material-icons{
    display: none;
    cursor: pointer;
}
    

.a{
    background-image: src('pexels-godisable-jacob-965324.jpg');
}

/* .nav-bar > .global-container > .first-container > .logo{
    color: #FFFFFF;
}

.nav-bar > .global-container > .first-container > .icons > {
    color: #FFFFFF;
} */

@media screen and (max-width: 1025px) {
    .nav-bar{
        z-index: 3; 
    }

    .nav-bar > .global-container {
        height: fit-content;
    }

    .nav-bar > .global-container > .first-container > .menu-icon{
        display: block;
    }

    #account-logo{
        display: none;
    }

    .nav-bar > .global-container > .nav-menu{
        left: -100%;
        position: absolute;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        transition: left 0.5s ease
    }

    .nav-bar > .global-container > .nav-menu.active{
        left: 0%;
    }

    .nav-bar > .global-container > .nav-menu > .nav-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .nav-bar > .global-container > .nav-menu > .nav-item > .material-icons{
        display: block;
        font-size: 28px;
        color: rgb(167, 167, 167);
    }


    .nav-bar > .global-container > .nav-menu > .nav-item > .nav-links{
        font-family: 'Cinzel', serif;
        font-size: 25px;
        font-weight: 500;
        color: black !important;
    }

    .nav-bar{
        margin: 0 0 0 0;

    }

    .nav-bar > .global-container > .nav-menu > #close-button-menu{
        display: flex;
    }

    .nav-bar > .menu-hiders{
        display: none;
    }

}

@media screen and (max-width: 769px) {
    .nav-bar > .global-container > .first-container > .logo{
        font-size: 18px;
    }
    
    .nav-bar > .global-container > .first-container > .nav-bar-icons > .nav-bar-icon{
        font-size: 17px;
        font-weight: 200;
    }

    .nav-bar > .global-container > .first-container > .menu-icon > .material-icons{
        font-size: 17px !important; 
        cursor: pointer;
    }
    
}