.nav-bar{
    position: absolute;
    width: 100%;
    margin: 15px 0 0 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    background-color: transparent;
    animation: append-animate 0.2s linear;
    z-index: 2;
}

@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
}

/* .nav-bar > .global-container {
} */

.nav-bar > .global-container > .first-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 90vw;
    max-width: 1250px;
    height: 80px;
}

.nav-bar > .global-container > .first-container > .logo{
    font-size: 28px;

}

.nav-bar > .global-container > .first-container > .nav-bar-icons{
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.nav-bar > .global-container > .first-container > .nav-bar-icons > .nav-bar-icon{
    font-size: 27px;
    font-weight: 200;
}

.nav-bar > .global-container > .nav-menu{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-bar > .global-container > .nav-menu > .nav-item{
    list-style: none;
    margin: 0;
}

.nav-bar > .global-container > .nav-menu > .nav-item > .nav-links{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0 0 7px 0;
    background:
    linear-gradient(90deg, rgb(202, 202, 202), rgb(219, 219, 219)) left bottom/0% 1px no-repeat;
}
    

.a{
    background-image: src('pexels-godisable-jacob-965324.jpg');
}

/* .nav-bar > .global-container > .first-container > .logo{
    color: #FFFFFF;
}

.nav-bar > .global-container > .first-container > .icons > {
    color: #FFFFFF;
} */