.link-style-white{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.link-style-white:hover{
    color: #000000;
}

.play-fair-font {
    font-family: 'Playfair Display', serif;
}

/* fonts */

.inter{
    font-family: 'Inter', sans-serif;
}

.cinzel{
    font-family: 'Cinzel', serif;
}