
.dropdown-contents{
    height: 309px;
    width: 90vw;
    max-width: 1250px;
    animation: append-animate 0.3s linear;
    transition: opacity .3s; 
    display: none;
    position: absolute;
}

@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
}

.dropdown-contents > div > ul{
    padding: 0;
    text-decoration: none;
    width: 225px;
}

.dropdown-contents > div > ul > li{
    list-style: none;
    margin: 0 0 20px 0;
}

.dropdown-contents > div > ul > .title{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
}

.dropdown-contents > div > ul > li > .link{
    text-decoration: none;
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
}

/* optional classes  */

.small-container{
    width: 100vw;
    /*max-width: 1250px; */
    max-width: 500px;
    display: flex;
}

.big-container{
    width: 100vw;
    max-width: 750px;
    display: flex;
}

.hide{
    opacity: 0;
}

.opaque{
    opacity: 1;
}
