
.dropdown-contents{
    height: 300px;
    width: 90vw;
    max-width: 1250px;
    /* animation: append-animate 0.6s linear; */
    opacity: 0;
    transition: opacity .5s; 
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
}

/* @keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;	
    }
} */

/* affects all ul tag */

ul{
    padding: 0px !important; /* the keywords helps me to avoid overriding by bootstraps styles*/
    margin: 0px !important;
    text-decoration: none;
    width: 100%;
}

/* affects all li tag */
li{
    list-style: none;
    margin: 0 0 13px 0;
}


.link{
    color: #000000;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
}

/* optional classes  */

.title{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
}

.outside-title{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 20px;
}

.small-container{
    width: 100vw;
    /*max-width: 1250px; */
    max-width: 520px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.big-container{
    width: 100vw;
    max-width: 750px;
    display: flex;
    align-items: flex-start;
}

.hide{
    opacity: 0;
}

.opaque{
    opacity: 1;
}

.paragraph{
    font-size: 14px;
    font-weight: 600;
}

.gray-color{
    color:#7c7c7c
}

.underline-links{
    text-decoration: none;
    color:#7c7c7c;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .5px;
    background:
    linear-gradient(90deg, rgb(233, 233, 233), rgb(233, 233, 233)) left bottom/100% 1px no-repeat;
    padding: 0 0 7px 0;
    transition: .4s;
    margin-top: 30px
}

.underline-links:hover{
    background:
    linear-gradient(90deg, rgb(233, 233, 233), rgb(233, 233, 233)) left bottom/0% 1px no-repeat;
}

.drop-dow-images{
    object-fit: none;
    margin-right: 15px;
}

.inner{
    display: flex;
}